<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="1" force="true"/>
    </php>
    <testsuites>
        <testsuite name="Streaming">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
